#form legend, #form .control-label {
    text-transform: capitalize;
}

#root__metadata_creators .array-item .form-group {
    display: inline-block;
    margin-right: 5px;
}

.creator-name .form-control {
    width: 28.5em;
}

#root__metadata_creators .array-item .control-label {
    display: none;
}
