swagger: "2.0"
info:
  description: "A composer for Research Objects"
  version: "0.1.0"
  title: "RO Composer"
  #termsOfService: "http://swagger.io/terms/"
  contact:
    email: "finn.bacall@manchester.ac.uk"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "openphacts.cs.man.ac.uk:8080"
basePath: "/"
tags:
- name: "profile"
  description: "A profile for describing Research Objects"
  # externalDocs:
  #   description: "Find out more"
  #   url: "http://swagger.io"
- name: "research_object"
  description: "Research Objects"
schemes:
- "https"
- "http"
paths:
  /:
    get:
      summary: "Root"
      description: "Show the API root, with links to the available endpoints. If HTML is requested, renders a basic user interface as a React single-page application."
      operationId: "root"
      produces:
      - "application/hal+json"
      - "text/html"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/Root"
  /profiles:
    get:
      tags:
      - "profile"
      summary: "List Profiles"
      description: "Show a list of available Research Object Profiles"
      operationId: "listProfiles"
      consumes:
      - "application/json"
      produces:
      - "application/hal+json"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/ProfileList"
  /profiles/{name}:
    get:
      tags:
      - "profile"
      summary: "Get Profile"
      description: "Get a Research Object Profile"
      operationId: "getProfile"
      parameters:
      - in: "path"
        name: "name"
        type: "string"
        description: "The unique identifier of the profile"
        required: true
      consumes:
      - "application/json"
      produces:
      - "application/hal+json"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/Profile"
        404:
          description: "Profile not found"
  /profiles/{name}/template:
    get:
      tags:
      - "profile"
      summary: "Get Profile's template"
      description: "Get the template that Research Objects of this Profile will be initialized with"
      operationId: "getProfileTemplate"
      parameters:
      - in: "path"
        name: "name"
        type: "string"
        description: "The unique identifier of the profile"
        required: true
      consumes:
      - "application/json"
      produces:
      - "application/json"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "object"
        404:
          description: "Profile not found"
  /profiles/{name}/research_objects:
    get:
      tags:
      - "profile"
      summary: "List Research Objects for Profile"
      description: "Show a list of Research Objects that conform to the given profile"
      operationId: "listResearchObjectsForProfile"
      parameters:
      - in: "path"
        name: "name"
        type: "string"
        description: "The unique identifier of the profile"
        required: true
      - in: "query"
        name: "page"
        type: "integer"
        description: "The page number to display. Starts from 1."
        default: 1
      - in: "query"
        name: "size"
        type: "integer"
        description: "The number of items per page."
        default: 10
      consumes:
      - "application/json"
      produces:
      - "application/hal+json"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/ResearchObjectSummaryList"
        404:
          description: "Profile not found"
    post:
      tags:
      - "research_object"
      summary: "Create Research Object"
      description: "Create a new Research Object that conforms to the given profile"
      operationId: "createResearchObject"
      parameters:
      - in: "body"
        name: "body"
        description: "The content of the Research Object (optional)"
        schema:
          type: "object"
      - in: "path"
        name: "name"
        type: "string"
        description: "The unique identifier of the profile"
        required: true
      consumes:
      - "application/json"
      produces:
      - "application/hal+json"
      responses:
        201:
          description: "successfully created"
          schema:
            $ref: "#/definitions/ResearchObject"
        404:
          description: "Profile not found"
        400:
          description: "Bad request"
  /schemas/{name}:
    get:
      tags:
      - "profile"
      summary: "Get JSON Schema"
      description: "Get a JSON Schema"
      operationId: "getSchema"
      parameters:
      - in: "path"
        name: "name"
        type: "string"
        description: "The schema filename"
        required: true
      produces:
      - "application/json"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/JSONSchemaDraft7"
        404:
          description: "Schema not found"
  /research_objects:
    get:
      tags:
      - "research_object"
      summary: "List Research Objects"
      description: "Show a list of all Research Objects"
      operationId: "listResearchObjects"
      parameters:
      - in: "query"
        name: "page"
        type: "integer"
        description: "The page number to display. Starts from 1."
        default: 1
      - in: "query"
        name: "size"
        type: "integer"
        description: "The number of items per page."
        default: 10
      consumes:
      - "application/json"
      produces:
      - "application/hal+json"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/ResearchObjectSummaryList"
  /research_objects/{id}:
    get:
      tags:
      - "research_object"
      summary: "Get Research Object"
      description: "Get a Research Objects"
      operationId: "getResearchObject"
      parameters:
      - in: "path"
        name: "id"
        type: "integer"
        description: "The numeric ID of the Research Object"
        required: true
      consumes:
      - "application/json"
      produces:
      - "application/hal+json"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/ResearchObject"
        404:
          description: "Research Object not found"
    delete:
      tags:
      - "research_object"
      summary: "Delete Research Object"
      description: "Delete a Research Object."
      operationId: "deleteResearchObject"
      parameters:
      - in: "path"
        name: "id"
        type: "integer"
        description: "The numeric ID of the Research Object"
        required: true
      consumes:
      - "application/json"
      produces:
      - "application/json"
      responses:
        204:
          description: "successful operation"
        404:
          description: "Research Object not found"
        405:
          description: "The Research Object cannot be modified (it was already deposited?)."
  /research_objects/{id}/content/{field}:
    get:
      tags:
      - "research_object"
      summary: "Get Research Object field"
      description: "Retrieve a single field of the Research Object"
      operationId: "getResearchObjectField"
      parameters:
      - in: "path"
        name: "id"
        type: "integer"
        description: "The numeric ID of the Research Object"
        required: true
      - in: "path"
        name: "field"
        type: "string"
        description: "The name of the field to get, see profile for a list of field names"
        required: true
      consumes:
      - "application/json"
      produces:
      - "application/json"
      responses:
        200:
          description: "successful operation"
        404:
          description: "Research Object not found"
        400:
          description: "The given field is not present on the Research Object"
    put:
      tags:
      - "research_object"
      summary: "Set Research Object field"
      description: "Set a single field on the Research Object"
      operationId: "setResearchObjectField"
      parameters:
      - in: "path"
        name: "id"
        type: "integer"
        description: "The numeric ID of the Research Object"
        required: true
      - in: "path"
        name: "field"
        type: "string"
        description: "The name of the field to set, see profile for a list of field names"
        required: true
      consumes:
      - "application/json"
      produces:
      - "application/json"
      responses:
        200:
          description: "successful operation"
        404:
          description: "Research Object not found"
        400:
          description: "The value being set violated the profile."
          schema:
            $ref: "#/definitions/ValidationErrorDocument"
        405:
          description: "The Research Object cannot be modified (it was already deposited?)."
    post:
      tags:
      - "research_object"
      summary: "Append to Research Object field"
      description: "Append a value to a list field on the Research Object"
      operationId: "appendResearchObjectField"
      parameters:
      - in: "path"
        name: "id"
        type: "integer"
        description: "The numeric ID of the Research Object"
        required: true
      - in: "path"
        name: "field"
        type: "string"
        description: "The name of the field to set, see profile for a list of field names. Must be a list field."
        required: true
      consumes:
      - "application/json"
      produces:
      - "application/json"
      responses:
        200:
          description: "successful operation"
        404:
          description: "Research Object not found"
        400:
          description: "The value being appended violated the profile."
          schema:
            $ref: "#/definitions/ValidationErrorDocument"
        405:
          description: "The Research Object cannot be modified (it was already deposited?)."
    delete:
      tags:
      - "research_object"
      summary: "Clear Research Object field"
      description: "Reset a single field on the Research Object to its default value ({}, [] or null)."
      operationId: "clearResearchObjectField"
      parameters:
      - in: "path"
        name: "id"
        type: "integer"
        description: "The numeric ID of the Research Object"
        required: true
      - in: "path"
        name: "field"
        type: "string"
        description: "The name of the field to clear, see profile for a list of field names"
        required: true
      consumes:
      - "application/json"
      produces:
      - "application/json"
      responses:
        200:
          description: "successful operation"
        404:
          description: "Research Object not found"
        405:
          description: "The Research Object cannot be modified (it was already deposited?)."
  /research_objects/{id}/content:
    patch:
      tags:
      - "research_object"
      summary: "Patch Research Object content"
      description: "Modify the Research Object's content using a JSON Patch"
      operationId: "patchResearchObjectContent"
      parameters:
      - in: "body"
        name: "body"
        description: "The JSON Patch to perform"
        schema:
          $ref: "#/definitions/JSONPatchRequest"
      - in: "path"
        name: "id"
        type: "integer"
        description: "The numeric ID of the Research Object"
        required: true
      consumes:
      - "application/json-patch+json"
      produces:
      - "application/json"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "object"
        404:
          description: "Research Object not found"
        400:
          description: "The patched Research Object content violated the profile."
          schema:
            $ref: "#/definitions/ValidationErrorDocument"
        405:
          description: "The Research Object cannot be modified (it was already deposited?)."
    get:
      tags:
      - "research_object"
      summary: "Get Research Object content"
      description: "Get the Research Object's content"
      operationId: "getResearchObjectContent"
      parameters:
      - in: "path"
        name: "id"
        type: "integer"
        description: "The numeric ID of the Research Object"
        required: true
      produces:
      - "application/json"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "object"
        404:
          description: "Research Object not found"
    put:
      tags:
      - "research_object"
      summary: "Set Research Object content"
      description: "Replace the Research Object's content with the given JSON"
      operationId: "setResearchObjectContent"
      parameters:
      - in: "body"
        name: "body"
        description: "The new content of the Research Object"
        schema:
          type: "object"
      - in: "path"
        name: "id"
        type: "integer"
        description: "The numeric ID of the Research Object"
        required: true
      consumes:
      - "application/json"
      produces:
      - "application/json"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "object"
        404:
          description: "Research Object not found"
        400:
          description: "The Research Object content violated the profile."
          schema:
            $ref: "#/definitions/ValidationErrorDocument"
        405:
          description: "The Research Object cannot be modified (it was already deposited?)."
  /research_objects/{id}/validate:
    get:
      tags:
      - "research_object"
      summary: "Validate a Research Object"
      description: "Validate the Research Object, returning an error document if invalid."
      operationId: "validateResearchObject"
      parameters:
      - in: "path"
        name: "id"
        type: "integer"
        description: "The numeric ID of the Research Object"
        required: true
      produces:
      - "application/json"
      responses:
        200:
          description: "The Research Object is valid"
        400:
          description: "The Research Object is invalid"
          schema:
            $ref: "#/definitions/DepositionErrorDocument"
  /research_objects/{id}/deposit:
    post:
      tags:
      - "research_object"
      summary: "Deposit a Research Object"
      description: "Deposit the Research Object into the default configured repository."
      operationId: "depositResearchObject"
      parameters:
      - in: "path"
        name: "id"
        type: "integer"
        description: "The numeric ID of the Research Object"
        required: true
      - in: "query"
        name: "accessToken"
        type: "string"
        description: "An OAuth2 access token to provide to the depositor, if required."
        required: false
      produces:
      - "application/json"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "object"
        404:
          description: "Research Object not found"
        400:
          description: "An error occurred whilst depositing the Research Object."
          schema:
            $ref: "#/definitions/DepositionErrorDocument"
        405:
          description: "The Research Object cannot be modified (it was already deposited?)."
  /research_objects/{id}/deposit/{location}:
    post:
      tags:
      - "research_object"
      summary: "Deposit a Research Object in specified repository"
      description: "Deposit the Research Object into the specified repository."
      operationId: "depositResearchObjectAt"
      parameters:
      - in: "path"
        name: "id"
        type: "integer"
        description: "The numeric ID of the Research Object"
        required: true
      - in: "path"
        name: "location"
        type: "string"
        description: "The repository in which to deposit the Research Object"
        required: true
      - in: "query"
        name: "accessToken"
        type: "string"
        description: "An OAuth2 access token to provide to the depositor, if required."
        required: false
      produces:
      - "application/json"
      responses:
        200:
          description: "successful operation"
          schema:
            type: "object"
        404:
          description: "Research Object not found"
        400:
          description: "An error occurred whilst depositing the Research Object."
          schema:
            $ref: "#/definitions/DepositionErrorDocument"
        405:
          description: "The Research Object cannot be modified (it was already deposited?)."
definitions:
  ProfileList:
    allOf:
    - $ref: "#/definitions/HALCollection"
    - type: "object"
      properties:
        _embedded:
          type: "object"
          properties:
            researchObjectProfileList:
              type: "array"
              items:
                $ref: "#/definitions/Profile"
  Profile:
    type: "object"
    properties:
      id:
        type: "integer"
      name:
        type: "string"
      fields:
        type: "array"
        items:
          type: "string"
      _links:
        allOf:
        - $ref: "#/definitions/Links"
        - type: "object"
          properties:
            researchObjects:
              type: "object"
              properties:
                href:
                  type: "string"
                  format: "uri"
            schema:
              type: "object"
              properties:
                href:
                  type: "string"
                  format: "uri"
  ResearchObjectSummaryList:
    allOf:
    - $ref: "#/definitions/PagedHALCollection"
    - type: "object"
      properties:
        _embedded:
          type: "object"
          properties:
            researchObjectSummaryList:
              type: "array"
              items:
                $ref: "#/definitions/ResearchObjectSummary"
  ResearchObject:
    type: "object"
    properties:
      id:
        type: "integer"
      profileName:
        type: "string"
      content:
        type: "object"
      mutable:
        type: "boolean"
        description: "Can the Research Object be modified?"
      checksum:
        type: "string"
        description: "A SHA256 checksum of the Research Object's content."
      _links:
        allOf:
        - $ref: "#/definitions/Links"
        - type: "object"
          properties:
            profile:
              description: "The Research Object's Profile."
              type: "object"
              properties:
                href:
                  type: "string"
                  format: "uri"
            deposition:
              description: "The URL at which the Research Object is deposited, if applicable."
              type: "object"
              properties:
                href:
                  type: "string"
                  format: "uri"
              nullable: true
            content:
              description: "A resource for the actual JSON content of the Research Object."
              type: "object"
              properties:
                href:
                  type: "string"
                  format: "uri"
            fields:
              description: "Resources where the top-level fields of the Research Object can be RESTfully modified."
              type: "array"
              items:
                type: "object"
                properties:
                  href:
                    type: "string"
                    format: "uri"
                  name:
                    description: "The name of the field."
                    type: "string"

  ResearchObjectSummary:
    type: "object"
    properties:
      id:
        type: "integer"
      profileName:
        type: "string"
      _links:
        allOf:
        - $ref: "#/definitions/Links"
        - type: "object"
          properties:
            profile:
              description: "The Research Object's Profile."
              type: "object"
              properties:
                href:
                  type: "string"
                  format: "uri"
            deposition:
              description: "The URL at which the Research Object is deposited, if applicable."
              type: "object"
              properties:
                href:
                  type: "string"
                  format: "uri"
              nullable: true
  HALCollection:
    type: "object"
    properties:
      _embedded:
        type: "object"
      _links:
        $ref: "#/definitions/Links"
  PagedHALCollection:
    allOf:
    - $ref: "#/definitions/HALCollection"
    - type: "object"
      properties:
        page:
          $ref: "#/definitions/Pagination"
  Links:
    type: "object"
    properties:
      self:
        type: "object"
        properties:
          href:
            type: "string"
            format: "uri"
  Pagination:
    type: "object"
    properties:
      size:
        type: "integer"
        description: "The number of items per page."
      totalElements:
        type: "integer"
        description: "The total number of items in the collection."
      totalPages:
        type: "integer"
        description: "The total number of pages in the collection."
      number:
        type: "integer"
        description: "The current page number."
  JSONPointer:
    type: "string"
  JSONPatchRequest:
    type: "array"
    items:
      $ref: "#/definitions/JSONPatchDocument"
  JSONPatchDocument:
    description: "A JSON Patch document (RFC 6902)"
    required:
    - "op"
    - "path"
    properties:
      op:
        type: "string"
        description: "The operation to be performed"
        enum:
        - "add"
        - "remove"
        - "replace"
        - "move"
        - "copy"
        - "test"
      path:
        allOf:
          - $ref: "#/definitions/JSONPointer"
          - description: "A pointer to the value being operated on. In the case of `move` and `copy` operations, it is a pointer to the destination."
      value:
        description: "The value to be used within the operations. Can be any JSON type."
      from:
        allOf:
          - $ref: "#/definitions/JSONPointer"
          - description: "In the case of `move` and `copy` operations, a pointer to the source value."
  ValidationErrorDocument:
    description: "A document detailing an error that occurred when trying to validate the Research Object, or a field on that Research Object."
    required:
    - "schemaLocation"
    - "pointerToViolation"
    - "causingExceptions"
    properties:
      schemaLocation:
        allOf:
          - $ref: "#/definitions/JSONPointer"
          - description: "A pointer to the rule in the schema that was violated by this error."
      pointerToViolation:
        allOf:
          - $ref: "#/definitions/JSONPointer"
          - description: "A pointer to the value in the request that caused the error."
      causingExceptions:
        type: "array"
        items:
          $ref: "#/definitions/ValidationErrorDocument"
        description: "Nested errors."
      keyword:
        type: "string"
        description: "The property of the schema that was violated."
      message:
        type: "string"
        description: "A human-readable error message."
  DepositionErrorDocument:
    description: "A document detailing an error that occurred when deposit the Research Object"
    required:
    - "status"
    - "error"
    properties:
      status:
        type: "integer"
        description: "The HTTP status code returned by the external service when trying to deposit, if applicable."
      error:
        type: "object"
        description: "The JSON error document returned by the external service when trying to deposit, if applicable."
  JSONSchemaDraft7:
    type: "object"
    description: "A schema conforming to the JSON schema (Draft 7) spec. https://json-schema.org/specification-links.html#draft-7"
  Root:
    type: "object"
    properties:
      _links:
        allOf:
        - $ref: "#/definitions/Links"
        - type: "object"
          properties:
            profiles:
              description: "The root endpoint for Research Object Profiles."
              type: "object"
              properties:
                href:
                  type: "string"
                  format: "uri"
            researchObjects:
              description: "The root endpoint for Research Objects."
              type: "object"
              properties:
                href:
                  type: "string"
                  format: "uri"